.contacts {
    font-size: 0;
    text-align: center;
    &--info {
        display: inline-block;
        font-size: 1rem;
        margin: 0 auto;
        text-align: left;
    }
    @media (max-width: $mobile-width) {
        &--info {
            width: 100%;
            margin-left: 0;
        }
    }
}
