@import 'partials/vendors/normalize.css';
@import 'partials/vendors/typography.css';
@import 'partials/sections/header.css';
@import 'partials/sections/services.css';
@import 'partials/sections/contacts.css';
@import 'partials/sections/footer.css';
$color-main: #125171;
main {
    padding: 40px 80px 80px;
}

.button {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1pt;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background 0.5s;
    &:hover,
    &:focus{
        background-color: $color-main;
    }
}

.input {
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    resize: vertical;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    &.__half {
        width: 48%;
        & + & {
            margin-left: 4%;
        }
    }
}
