$color-main: #125171;
$color-main--light: #86adca;
$color-main--dark: #003252;

$tablet-width: 1360px;
$tablet-mid-width: 1100px;
$mobile-width: 1000px;
$mobile-mid-width: 720px;
$mobile-small-width: 480px;