extends ../partials/layout

block head
  +head('Любые работ по оценке')

block menu
  +menu('evaluation')

block body
  +slider([1, 2, 3])

  section.main
    h1 Любые работы по оценке
    p hello

  