extends ../partials/layout

block head
  +head('Любые работы по оценке')

block menu
  +menu('evaluation')

block body
  +slider([1, 2, 3])

  section.breadcrumbs
    ul.breadcrumbs-list
      li.breadcrumbs-list--item
        a(href="/") Главная

  section.main
    h1 Любые работы по оценке
    p hello

  