extends ../partials/layout

block head
  +head('Любые работы по оценке')

block menu
  +menu('evaluation')

block body
  +slider([1, 2, 3])

  section.breadcrumbs
    ul.breadcrumbs-list
      li.breadcrumbs-list--item
        a(href="/") Главная

  section.main
    h1 Любые работы по&nbsp;оценке
    p Мы готовы выполнить для вас любые работы по оценке.
    p Мы работаем с физическими или юридическими лицами.
  section.services.__full
    h2 Наши услуги по&nbsp;оценке
    article.services--item
      h3 Оценка земли и земельных участков
      .services--wrap
        p Оценка для кредитования под залог, лизинга, страхования, отчуждения, постановки на баланс, внесения в установочный фонд, переоценки основных средств, судебных рабирательств
        img.services--icon(src="/assets/img/icons/land.svg")
    article.services--item 
      h3 Оценка недвижимости и недвижимого иммущества
      .services--wrap
        p Жилые, коммерческие и производственные объекты. Здания, сооружения, дома, квартиры, офисы
        img.services--icon(src="/assets/img/icons/realestate.svg")
    article.services--item 
      h3 Оценка оборудования и&nbsp;транспортных средств
      .services--wrap
        p Станки, приборы, мебель, технологические комплексы и поточные линии, офисное и другое оборудование и т.д. Автомобили, машины, железнодорожная, воздушная и другая техника
        img.services--icon(src="/assets/img/icons/tools.svg")

  