extends ../partials/layout

block head
  +head({ link: 'evaluation/', img: 'evaluation-' }, 'Любые работы по оценке')

block menu
  +menu('evaluation')

block body
  +slider([{img: 1, alt: 'Оценка земельных участков'}, {img: 2, alt: 'Оценка недвижимости'}, {img: 3, alt: 'Оценка оборудования и транспорта'}])

  section.main
    h1 Услуги по&nbsp;оценке
    p Мы предоставляет 
      b широкий спектр услуг по оценке имущества юридических и физических лиц 
      |  во всех регионах нашей страны.
    p Основными 
      b видами оценочной деятельности
      |  являются:
    ul
      li оценка 
        a(href="/evaluation/realty" title="Оценка недвижимости") недвижимости, зданий, сооружений
        | , помещений, домов, коттеджей, квартир, гаражей;
      li оценка движимого имущества, 
        a(href="/evaluation/equipment-and-transport" title="Оценка оборудования и транспорта") машин и оборудования
        | , станков, линий, офисной и бытовой техники, компьютеров;
      li оценка 
        a(href="/evaluation/equipment-and-transport" title="Оценка оборудования и транспорта") дорожных транспортных средств
        | , строительных машин;
      li переоценка основных средств предприятий;
      li оценка стоимости 
        a(href="/evaluation/land" title="Оценка земельных участков") земельных участков
        |  и прав на них;
      li 
        a(href="") разработка бизнес-планов
        | ;
      li консультационные услуги.
    p Независимая 
      b оценка имущества поможет
      |  вам более эффективно его использовать 
      b в случаях
      | :
    ul
      li продажи, включая продажу имущества в процедуре экономической несостоятельности (банкротства);
      li внесения в виде неденежного вклада в уставный фонд;
      li передачи в залог (залог для получения кредита);
      li обязательной переоценки основных средств с привлечением оценщиков;
      li разрешения имущественных споров;
      li возмещения ущерба;
      li реализации управленческих решений.
    p Наша 
      a(href="/about", title="O СпецОценка.by") компетентность, беспристрастность, надежность и индивидуальный подход 
      |  гарантирует вам не просто достижение цели, но и удовлетворение результатом.

  section.services.__full
    h2 Наши услуги по&nbsp;оценке
    article.services--item
      h3 
       a(href="/evaluation/land" title="Оценка земельных участков") Оценка земли и земельных участков
      .services--wrap
        p Оценка для кредитования под залог, лизинга, страхования, отчуждения, постановки на баланс, внесения в установочный фонд, переоценки основных средств, судебных рабирательств
        img.services--icon(src="/assets/img/icons/land.svg", alt="Оценка земельных участков")
    article.services--item 
      h3 
       a(href="/evaluation/realty" title="Оценка недвижимости") Оценка недвижимости и недвижимого иммущества
      .services--wrap
        p Жилые, коммерческие и производственные объекты. Здания, сооружения, дома, квартиры, офисы
        img.services--icon(src="/assets/img/icons/realestate.svg", alt="Оценка недвижимости")
    article.services--item 
      h3 
       a(href="/evaluation/equipment-and-transport" title="Оценка оборудования и транспорта") Оценка оборудования и&nbsp;транспортных средств
      .services--wrap
        p Станки, приборы, мебель, технологические комплексы и поточные линии, офисное и другое оборудование и т.д. Автомобили, машины, железнодорожная, воздушная и другая техника
        img.services--icon(src="/assets/img/icons/tools.svg", alt="Оценка оборудования и транспорта")

  