extends ../../partials/layout

block head
  +head('Оценка недвижимости и недвижимого иммущества')

block menu
  +menu('realty')

block body
  +slider([{img: 2, alt: 'Оценка недвижимости'}])

  section.breadcrumbs
    ul.breadcrumbs-list
      li.breadcrumbs-list--item
        a(href="/test/") Главная
      li.breadcrumbs-list--item
        a(href="/test/evaluation") Оценка

  section.main
    h1 Оценка недвижи&shy;мос&shy;ти
    p Оценка недвижимости (объекты, перемещение которых без несоразмерного ущерба их назначению невозможно, в том числе леса, многолетние насаждения, здания, сооружения) является самым востребованным видом оценки.
    p Объясняется это тем, что 
      b хорошо развит
      |  сам 
      b рынок недвижимости
      | , а недвижимость является очень востребованной так как, во-первых, она дает людям возможность 
      b жить 
      | (и не только людям, и не только жить: квартира, дом, дача, гараж, комната, сад, пруд, огород, сарай, баня…), во-вторых, может использоваться в 
      b коммерческой деятельности 
      | (приносить доход: офис, магазин, кафе, ресторан, салон красоты…) и 
      b производственной  деятельности
      | (тоже приносить доход, но в другом виде: цех, склад, СТО, мастерская, нефтепровод…).
    p Во всех случаях необходимо определить 
      b реальную стоимость недвижимости
      | , что бы знать какие возможности для жизни можно себе позволить или знать, надо ли иметь такую недвижимость для получения дохода.
    p
      | Мы поможем вам с оценкой недвижимости  
      b в короткие сроки и профессионально!
    p
      a.button(href="#contacts") Связаться с нами

  