mixin head(title)
    - title = (title ? title +' - ' : '') + 'СпецОценка.by'

    meta(http-equiv='content-type', content='text/html; charset=utf-8')    
    link(href='https://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans&subset=cyrillic', rel='stylesheet')
    link(href='/assets/css/main.css', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title= title