include ./head-mixin
include ./menu-mixin
include ./slider-mixin

doctype html
html(dir='ltr', lang='ru')
  head
    block head
  body
    main
      header 
        a.logo(href="/") СпецОценка.by
        nav
          input.toggle--checkbox(type="checkbox", id="menu")
          label(for="menu").toggle--button
            span
          block menu

      block body

      section.stepline
        h2 Как мы работаем
        ol.steps
          li.steps--item
            p Позвоните нам по телефону 
              a(href="tel:+375293452765") +375 29 345-27-65
              |  или обратитесь через контактную форму на сайте
          li.steps--item
            p Мы подпишем с вами договор и задание на оценку
          li.steps--item
            p Мы согласуем с вами дату и время осмотра имущества
          li.steps--item
            p Вы встретитесь с оценщиком на осмотре имущества
          li.steps--item
            p К оговоренному сроку вы получите заключение и отчет об оценке

      section.contacts
        h2(id="contacts") Связаться с&nbsp;нами
        .contacts--info
          h3 Контактные данные
          p г. Минск, Республика Беларусь 
          p Мобильный: 
            a(href="tel:+375293452765") +375 29 345-27-65
            | , 
            a(href="tel:+375297658433") +375 29 765-84-33
          p Телефон/факс: 
            a(href="tel:+375172804341") +375 17 280-43-41
          p E-mail: 
            a(href="mailto:info@specocenka.by") info@specocenka.by
        form.contacts--form
          h3 Напишите нам
          input.input.__half(placeholder="Имя")
          input.input.__half(placeholder="Email")
          textarea.input(placeholder="Текст сообщения")
          button.button Отправить письмо

    footer
      .wrapper
        span &copy; 2011–2016 СпецОценка.by
        a.dev(href="http://ash-web.by" target="_blank") Разработано 
          b.dev--link ash-web.by

    script(src="/assets/js/slider.js")
    script(src="/assets/js/main.js")