footer {
    background-color: #111;
    border-top: 5px solid #ccc;
    color: #aaa;
    padding: 40px 440px 40px 80px;
    .dev {
        float: right;
        opacity: 0.25;
        transition: 0.5s;
        color: #ccc;
        text-decoration: none;
        &:hover {
            opacity: 1;
        }
        &--link {
            color: #fff;
        }
    }
}
