header {
    position: relative;
}

.logo {
    display: inline-block;
    color: #000;
    border: 5px double $color-main--light;
    padding: 15px 30px;
    font-family: "Merriweather", serif;
    font-size: 30px;
    line-height: 40px;
    text-decoration: none;
    transition: color 0.3s, border 0.3s;
    vertical-align: baseline;
    &:hover,
    &:focus {
        color: $color-main;
        border-color: $color-main;
    }
    @media(max-width: $mobile-small-width) {
        padding-left: 0;
        padding-right: 0;
        border: none;
        font-size: 24px;
    }
}

nav {
    display: inline-block;
    @media(max-width: $mobile-width) {
        display: block;
    }
}

.toggle {
    &--checkbox {
        visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        z-index: -10000;
        @media(max-width: $mobile-width) {
            &:checked {
                & ~ .toggle--button {
                    span {
                        background-color: #fff;
                        transition: background 0.3s;
                        &:before,
                        &:after {
                            visibility: visible;
                            top: 0;
                            bottom: auto;
                            transform: rotate(45deg);
                            transition: background 0.3s, transform 0.3s linear 0.3s, top 0.3s, bottom 0.3s;
                        }
                        &:after {
                            transform: rotate(-45deg);
                        }
                    }
                }
                & ~ .menu {
                    display: block;
                    width: 100%;
                }
            }
        }
    }
    &--button {
        display: none;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 15px;
        right: 0;
        cursor: pointer;
        @media(max-width: $mobile-width) {
            display: block;
        }
        span {
            width: 30px;
            height: 3px;
            background-color: #888;
            display: block;
            position: absolute;
            top: 19px;
            left: 5px;
            transition: background 0.3s;
            &:before,
            &:after {
                content: '';
                width: 100%;
                height: 3px;
                display: block;
                position: absolute;
                top: -8px;
                background-color: #888;
                transition: background 0.3s, transform 0.3s, top 0.3s linear 0.3s, bottom 0.3s linear 0.3s;
            }
            &:after {
                top: 8px;
            }
        }
        &:hover {
            span,
            span:before,
            span:after {
                background-color: $color-main;
            }
        }
    }
}

.menu {
    display: inline-block;
    vertical-align: baseline;
    margin: 0;
    font-size: 0;
    @media(max-width: $tablet-width) {
        padding-left: 20px;
        box-sizing: border-box;
    }
    @media(max-width: $mobile-width) {
        display: none;
        padding: 15px 0;
        border: 3px double #eee;
        margin-top: 20px;
    }
    &--item {
        display: inline-block;
        position: relative;
        font-size: 14px;
        @media(max-width: $mobile-width) {
            width: 100%;
        }
        a {
            padding: 7px 12px;
            text-decoration: none;
            color: $color-main;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1pt;
            font-size: 14px;
            line-height: 2;
            transition: color 0.3s, border 0.3s;
            position: relative;
            display: inline-block;
            width: 100%;
            box-sizing: border-box;
            transition: background 0.3s, color 0.3s;
            &:hover,
            &:focus {
                background-color: $color-main;
                color: #fff;
            }
            @media(max-width: $mobile-width) {
                line-height: 1;
                padding: 10px 30px;
            }
            &.__arrow {
                padding-right: 30px;
                &:after {
                    @media(max-width: $mobile-width) {
                        display: none;
                    }
                    content: '';
                    top: 14px;
                    right: 13px;
                    display: block;
                    width: 7px;
                    height: 7px;
                    border: 2px solid #aaa;
                    border-bottom: none;
                    border-left: none;
                    transform: rotate(135deg);
                    position: absolute;
                }
            }
        }
        &:hover {
            .menu--submenu {
                opacity: 1;
                transform: translateY(-2px);
                visibility: visible;
            }
        }
    }
    &--submenu {
        visibility: hidden;
        border: 3px double #eee;
        transform: translateY(10px);
        padding: 10px 0;
        opacity: 0;
        top: 100%;
        left: 0;
        position: absolute;
        min-width: 300px;
        background-color: #fff;
        transition: opacity 0.5s, transform 0.5s;
        list-style-type: none;
        @media(max-width: $mobile-width) {
            visibility: visible;
            position: relative;
            opacity: 1;
            transform: none !important;
            border: none;
            margin-left: 30px;
            padding: 0 0 10px 0;
        }
        a {
            padding-top: 5px;
            padding-bottom: 5px;
        }
    }
}

.phone-number {
    float: right;
    margin-top: 30px;
    img {
        width: 24px;
        vertical-align: middle;
        margin-right: 3px;
    }
    a {
        color: #000;
        text-decoration: none;
    }
}
