.services {
    font-size: 0;
    &--item {
        padding-left:  100px;
        box-sizing: border-box;
        display: inline-block;
        width: 48%;
        font-size: 1rem;
        &:nth-child(odd){
            margin-left: 4%;
        }
    }
}
