extends ../../partials/layout

block head
  +head('Оценка земли и земельных участков')

block menu
  +menu('land')

block body
  +slider([1])

  section.breadcrumbs
    ul.breadcrumbs-list
      li.breadcrumbs-list--item
        a(href="/") Главная

  section.main
    h1 Оценка земли и земельных участков
    p
      b Оценка земли является очень специфичной
      |  оценкой ввиду ряда причин.
    p
      b Во-первых
      | , в Республике Беларусь 
      b земля не всегда является предметом купли-продажи
      | , но таким предметом являются расположенная на ней 
      b недвижимость
      | . И при оценке недвижимости обязательно учитывается, 
      b где
      |  она 
      b располагается
      | . Как Вы думаете, какова цена магазина, построенного на необитаемом острове?
    p
      b Во-вторых
      | , оценка свободного (еще не застроенного) земельного участка дает ответ на вопрос о том, 
      b как наиболее эффективно и рационально его использовать в будущем
      | . Построить один многоквартирный дом или много одноквартирных домов?
    p
      b В-третьих
      | , имущественные права на земельный участок являются 
      b предметом залога
      |  для получения денежных средств в банке (в том числе право постоянного пользования, временного  пользования, право аренды).
    p
      b В-четвертых
      | , оценка земельного участка очень полезна при 
      b вступлении в наследство
      |  и при 
      b разделе имущества (даже если это происходит мирным путем).
    p
      | Мы поможем вам с оценкой земли 
      b в короткие сроки и профессионально!
    p
      a.button(href="#contacts") Связаться с нами

  