extends ../partials/layout

block head
  +head('Создание и разработка бизнес-планов')

block menu
  +menu('business')

block body
  +slider([4])

  section.breadcrumbs
    ul.breadcrumbs-list
      li.breadcrumbs-list--item
        a(href="/") Главная

  section.main
    h1 Бизнес-планиро&shy;ва&shy;ние
    p Наши специалисты осуществляют 
      b разработку бизнес-планов
      | , которые 
      b соответствуют требованиям
      |  международного стандарта UNIDO и требованиям Постановлений Министерства экономики Республики Беларусь.
    p Все бизнес-планы  разрабатываются 
      b с учетом индивидуальных особенностей
      |  клиентов на основе наших собственных программных разработок, адаптированных к условиям производственно-хозяйственной деятельности как  налогового окружения в Беларуси, так и других стран.
    p Разрабатываемые нами проекты 
      b проходят государственную комплексную экспертизу
      |  в Министерстве экономики Республики Беларусь или 
      b экспертизу в банках
      | . Нашими специалистами 
      b разработаны десятки инвестиционных проектов
      |  для частных и государственных предприятий в различных отраслях экономики. Отработанные методики, квалифицированный персонал, хорошее знание специфики национального рынка - 
      b гарантия успешной реализации
      |  проектов наших клиентов на основе разработанных нами бизнес-планов.
    p
      | Мы поможем вам с разработкой бизнес-планов  
      b в короткие сроки и профессионально!
    p
      a.button(href="#contacts") Связаться с нами


  