extends ./partials/layout

block head
  +head

block menu
  +menu

block body
  +slider([1, 2, 3, 4])

  section.main
    h1 Оценка и бизнес-планирование
    p Мы 
      b оценим
      |  для вас 
      b практически всё
      |  , кроме золота, бриллиантов и оружия.
    p Не зависимо от того, кто вы (физическое или юридическое лицо) и 
      b вы имеете имущество
      | , то 
      b мы определим, сколько оно стоит для продажи, залога, аренды
      |  и 
      b других целей
      | .
    p Если же 
      b вы не имеете имущества
      | , но очень хотите его приобрести, получить в подарок, наследовать, выменять, одолжить, заказать, построить, то 
      b мы определим, сколько оно стоит для вас
      | , а вы уже сами решите – нужно ли вам это имущество по такой цене.
    p Если вы хотите узнать, как будет, или как может развиваться ваш бизнес, то 
      b мы разработаем 
      | вам 
      b бизнес-план 
      |  или 
      b серьезный инвестиционный проект
      | , который станет вашим надежным помощником.
    p
      a.button(href="#contacts") Обратитесь к нам

  section.services
    h2 Наши услуги
    article.services--item
      h3 Земельные участки
      .services--wrap
        p Оценка для кредитования под залог, лизинга, страхования, отчуждения, постановки на баланс, внесения в установочный фонд, переоценки основных средств, судебных рабирательств
        img.services--icon(src="/assets/img/icons/land.svg")
    article.services--item 
      h3 Недвижимость
      .services--wrap
        p Жилые, коммерческие и производственные объекты. Здания, сооружения, дома, квартиры, офисы
        img.services--icon(src="/assets/img/icons/realestate.svg")
    article.services--item 
      h3 Оборудование и&nbsp;транспорт
      .services--wrap
        p Станки, приборы, мебель, технологические комплексы и поточные линии, офисное и другое оборудование и т.д. Автомобили, машины, железнодорожная, воздушная и другая техника
        img.services--icon(src="/assets/img/icons/tools.svg")
    article.services--item 
      h3 Бизнес-планирование
      .services--wrap
        p 
          a(href="/business-planning") Разработка бизнес-планов
          | , которые соответствуют требованиям международного стандарта UNIDO
        img.services--icon(src="/assets/img/icons/analysis.svg")