extends ./partials/layout

block head
  +head

block menu
  +menu

block body
  +slider([{img: 1, alt: 'Оценка земельных участков'}, {img: 2, alt: 'Оценка недвижимости'}, {img: 3, alt: 'Оценка оборудования и транспорта'}, {img: 4, alt: 'Бизнес-планирование'}])

  section.main
    h1 Оценка и&nbsp;бизнес-планиро&shy;вание
    p Мы 
      a(href="/evaluation", title="Оценка земельных участков, недвижимости, оборудования и транспорта")
        b оценим
        |  для вас 
        b практически всё
      |  , кроме золота, бриллиантов и оружия.
    p Не зависимо от того, кто вы (физическое или юридическое лицо) и 
      b вы имеете имущество
      | , то 
      b мы определим, сколько оно стоит для продажи, залога, аренды
      |  и 
      b других целей
      | .
    p Если же 
      b вы не имеете имущества
      | , но очень хотите его приобрести, получить в подарок, наследовать, выменять, одолжить, заказать, построить, то 
      b мы определим, сколько оно стоит для вас
      | , а вы уже сами решите – нужно ли вам это имущество по такой цене.
    p Если вы хотите узнать, как будет, или как может развиваться ваш бизнес, то 
      a(href="/business-planning")
        b мы разработаем 
        | вам 
        b бизнес-план 
        |  или 
        b серьезный инвестиционный проект
      | , который станет вашим надежным помощником.
    p
      a.button(href="#contacts") Связаться с нами
  section.services
    h2 Наши услуги
    article.services--item
      h3 Оценка земельных участков
      .services--wrap
        p 
          a(href="") Оценка земли и земельных участков
          |  для кредитования под залог, лизинга, страхования, отчуждения, постановки на баланс, внесения в установочный фонд, переоценки основных средств, судебных рабирательств
        img.services--icon(src="/assets/img/icons/land.svg")
    article.services--item 
      h3 Оценка недвижимости
      .services--wrap
        p 
          a(href="") Оценка недвижимого иммущества
          |  для cдачи в аренду, кредитования под залог, страхования, внесения в уставный фонд, ликвидации, решения имущественных споров. Здания, сооружения, дома, квартиры, офисы
        img.services--icon(src="/assets/img/icons/realestate.svg")
    article.services--item 
      h3 Оценка оборудования и&nbsp;транспорта
      .services--wrap
        p 
          a(href="") Оценка машин, оборудования, инвентаря, материалов и транспорта.
          |  Станки, приборы, мебель, технологические комплексы и поточные линии, офисное и другое оборудование. Автомобили, машины, железнодорожная, воздушная и другая техника
        img.services--icon(src="/assets/img/icons/tools.svg")
    article.services--item 
      h3 Бизнес-планирование
      .services--wrap
        p 
          a(href="/business-planning") Разработка бизнес-планов
          | , которые соответствуют требованиям международного стандарта UNIDO и требованиям Постановлений Министерства экономики Республики Беларусь. Разработка инвестиционных проектов
        img.services--icon(src="/assets/img/icons/analysis.svg")