doctype html
html(dir='ltr', lang='ru')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')    
    link(href='https://fonts.googleapis.com/css?family=Merriweather:700|Open+Sans&subset=cyrillic', rel='stylesheet')
    link(href='css/main.css', rel='stylesheet')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Sample title
  body
    main
      header 
        a.logo(href="/") СпецОценка.by
        ul.menu
          li.menu--item
            a.__arrow(href="") Оценка
            ul.menu--submenu
              li
                a(href="") Земельные участки
              li
                a(href="") Недвижимость
              li
                a(href="") Оборудование и транспорт
          li.menu--item
            a(href="") Бизнес-планирование
          li.menu--item
            a(href="") О нас

      section.main
        h1 Любые работы по оценке
        p Мы оценим для вас практически всё, кроме золота, бриллиантов и оружия.
        p Не зависимо от того, кто вы (физическое или юридическое лицо) и вы имеете имущество, то мы определим, сколько оно стоит для продажи, залога, аренды и других целей.
        p Если же 
          a(href="") вы не имеете имущества, но очень хотите его приобрести, получить в подарок, наследовать, выменять, одолжить, заказать, 
          | построить, то мы определим, сколько оно стоит для вас, а вы уже сами решите – нужно ли вам это имущество по такой цене.
        p Если вы хотите узнать, как будет, или как может развиваться ваш бизнес, то мы разработаем вам бизнес-план или серьезный инвестиционный проект, который станет вашим надежным помощником.
        p
          button.button Обратитесь к нам
      section.services
        h2 Услуги
        article.services--item 
          h3 Земельные участки
          p мы разработаем вам бизнес-план или серьезный инвестиционный проект, который станет вашим надежным помощником
        article.services--item 
          h3 Недвижимость
          p мы разработаем вам бизнес-план или серьезный инвестиционный проект, который станет вашим надежным помощником
        article.services--item 
          h3 Оборудование и транспорт
          p мы разработаем вам бизнес-план или серьезный инвестиционный проект, который станет вашим надежным помощником
        article.services--item 
          h3 Бизнес-планирование
          p мы разработаем вам бизнес-план или серьезный инвестиционный проект, который станет вашим надежным помощником
      section.steps
        article.steps--item 1
        article.steps--item 1
        article.steps--item 1
      section.contacts
        h2 Связаться с нами
        form.contacts--form
          input.input.__half(placeholder="Имя")
          input.input.__half(placeholder="Email")
          textarea.input(placeholder="Текст сообщения")
          button.button Отправить письмо
        .contacts--info
          h3 Контактные данные
          p г. Минск, Республика Беларусь 
          p  Мобильный: +375 29 345-27-65, +375 29 765-84-33
          p Телефон/факс: +375 17 280-43-41
          p E-mail: 
            a(href="mailto:info@specocenka.by") info@specocenka.by
    footer 
      span &copy; 2011–2016 СпецОценка.by
      a.dev(href="http://ash-web.by" target="_blank") Разработано 
        b.dev--link ash-web.by