@import './variables.css';
@import 'partials/vendors/normalize.css';
@import 'partials/vendors/typography.css';
@import 'partials/sections/header.css';
@import 'partials/sections/slider.css';
@import 'partials/sections/services.css';
@import 'partials/sections/stepline.css';
@import 'partials/sections/contacts.css';
@import 'partials/sections/footer.css';
main {
    padding: 40px calc(30% + 40px) 80px 80px;
    min-width: 240px;
    @media(max-width: $tablet-width) {
        padding-right: calc(20% + 40px);
    }
    @media(max-width: $tablet-mid-width) {
        padding-right: calc(10% + 40px);
    }
    @media(max-width: $mobile-mid-width) {
        padding-left: 20px;
        padding-right: calc(10% + 20px);
        h1 {
            font-size: 3rem;
            line-height: 3.5rem;
        }
        h2 {
            font-size: 2rem;
            line-height: 2.5rem;
        }
    }
    & > header,
    & > section {
        max-width: 1000px;
        margin: 0 auto;
    }
}

.main {
    p {
        color: #222;
    }
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.button {
    color: $color-main;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1pt;
    padding: 10px 20px;
    border: 5px double $color-main--light;
    cursor: pointer;
    font-weight: bold;
    background: transparent;
    transition: background 0.3s, color 0.3s;
    &:hover,
    &:focus {
        background-color: $color-main;
        border-color: $color-main;
        color: #fff;
    }
}

.input {
    border: none;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    resize: vertical;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: border 0.3s;
    &:focus {
        border-bottom-color: $color-main;
    }
    &.__half {
        width: 48%;
        & + & {
            margin-left: 4%;
        }
    }
}

textarea {
    height: 120px;
}
