extends ../../partials/layout

block head
  +head('Оценка оборудования и транспорта')

block menu
  +menu('equipment')

block body
  +slider([3])

  section.breadcrumbs
    ul.breadcrumbs-list
      li.breadcrumbs-list--item
        a(href="/") Главная

  section.main
    h1 Оценка оборудования и транспорта
    p Весь окружающий 
      b мир состоит из машин
      | . Не верите? А зря! Если вы читаете этот текст, значит, вы сидите перед компьютером. Как ни крути, а компьютер – машина. Электричество, коим «кормится» ваш компьютер выработала – машина. Иначе говоря, рядом с нами, за соседней стеной, над нами, под ногами машины имеют место быть! Они нужны нам каждый день, мы ими пользуемся, мы их приобретаем и продаем. Значит они же имеют свою цену! А мы знаем, как её быстро и верно рассчитать.
    p Итак, если у вас возникла 
      b потребность в оценке
      |  машин, оборудования, транспорта в случае:
    ul
      li продажи оборудования конкретному покупателю;
      li исполнения договоренностей по кредиту;
      li внесения оборудования в качестве неденежного вклада в уставной фонд;
      li постановки оборудования на баланс организации;
      li организации торгов;
      li оформления процедуры банкротства;
      li переоценки оборудования методом прямой оценки;
      li передачи имущественных прав;
      li судебного исполнения решения имущественных споров;
      li реализации имущественных споров,
    p мы поможем вам с оценкой  
      b в короткие сроки и профессионально!
    p
      a.button(href="#contacts") Связаться с нами


  