extends ../../partials/layout

block head
  +head({ link: 'evaluation/equipment-and-transport/', img: 'tools-' }, 'Оценка оборудования и транспорта')

block menu
  +menu('equipment')

block body
  +slider([{img: 3, alt: 'Оценка оборудования и транспорта'}])

  section.breadcrumbs
    ul.breadcrumbs-list
      li.breadcrumbs-list--item
        a(href="/evaluation", title="Услуги по оценке") Оценка

  section.main
    h1 Оценка оборудо&shy;ва&shy;ния и&nbsp;транс&shy;пор&shy;та
    p Весь окружающий 
      b мир состоит из машин
      | . Не верите? А зря! Если вы читаете этот текст, значит, вы скорее всего сидите перед компьютером. Как ни крути, а компьютер – машина. Электричество, коим «кормится» ваш компьютер выработала машина. Иначе говоря, рядом с нами, за соседней стеной, над нами, под ногами машины имеют место быть! Они нужны нам каждый день, мы ими пользуемся, мы их приобретаем и продаем. Значит они же имеют свою цену! А мы знаем, как её быстро и верно рассчитать.
    p Итак, если у вас возникла 
      b потребность в оценке
      |  машин, оборудования, инвентаря, материалов и транспорта в случае:
    ul
      li продажи оборудования конкретному покупателю;
      li исполнения договоренностей по кредиту;
      li внесения оборудования в качестве неденежного вклада в уставной фонд;
      li постановки оборудования на баланс организации;
      li организации торгов;
      li оформления процедуры банкротства;
      li переоценки оборудования методом прямой оценки;
      li передачи имущественных прав;
      li судебного исполнения решения имущественных споров;
      li реализации имущественных споров,
    p мы поможем вам с оценкой  
      b в короткие сроки и профессионально!
    p
      a.button(href="#contacts", title="Перейти к контактной форме") Связаться с нами


  